<h1>Liste des ingredients</h1>

<clr-datagrid>
    <clr-dg-column>Ingredient Id</clr-dg-column>
    <clr-dg-column>Nom</clr-dg-column>
    <clr-dg-column>Poids</clr-dg-column>
    <clr-dg-column>Prix</clr-dg-column>
    <clr-dg-column *ngIf="isAdmin">Supprimer</clr-dg-column>

    <clr-dg-row *ngFor="let ingredient of ingredientList">
        <clr-dg-cell>{{ingredient._id}}</clr-dg-cell>
        <clr-dg-cell>{{ingredient.name}}</clr-dg-cell>
        <clr-dg-cell>{{ingredient.weight}}</clr-dg-cell>
        <clr-dg-cell>{{ingredient.price}}</clr-dg-cell>
        <clr-dg-cell *ngIf="isAdmin">
          <button type="button" class="btn btn-icon btn-danger" (click)="delete(pizza._id)">
              <clr-icon shape="trash"></clr-icon>
          </button>
        </clr-dg-cell>
    </clr-dg-row>
</clr-datagrid>
