<div class="main-container">
    <header class="header header-6">
      <div class="branding">
            <a class="logo-and-title" routerlink="/" href="/clarity/">
                <span class="clr-icon"><img src="assets/pizza.png" alt="pizza" height="36" width="36"/></span>
                <span class="title">Pizza Ynov Angular Project</span>
            </a>
        </div>
    </header>
    <div class="content-container">
            <div class="content-area">
                <router-outlet></router-outlet>
            </div>
            <nav class="sidenav">
                <section class="sidenav-content">
                    <section class="nav-group collapsible">
                        <input id="tabexample1" type="checkbox">
                        <label for="tabexample1">Pizza</label>
                        <ul class="nav-list">
                            <li><a class="nav-link" routerLink="/">Voir</a></li>
                            <li><a class="nav-link" routerLink="admin/pizza">Administrer</a></li>
                        </ul>
                    </section>
                    <section class="nav-group collapsible">
                        <input id="tabexample1" type="checkbox">
                        <label for="tabexample1">Ingredients</label>
                        <ul class="nav-list">
                            <li><a class="nav-link" routerLink="ingredients">Voir</a></li>
                            <li><a class="nav-link">Administrer</a></li>
                        </ul>
                    </section>

                    <a href="..." class="nav-link">
                      Panier
                    </a>
                </section>
            </nav>
        </div>
</div>
