<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 offset-lg-2 offset-md-2">
        <section>
          <h1>Nouvelle pizza:</h1>
          <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-block">
            <!-- <input type="hidden" formControlName="_id"> -->
            <div class="form-group">
              <label>Nom :</label>
              <input type="text" formControlName="name" class="col-lg-6">
            </div>
            <div class="form-group">
              <label>Description:</label>
              <input type="text" formControlName="desc" class="col-lg-12">
            </div>
            <div class="form-group">
              <label>Ingredients :</label>
              <div class="checkbox" *ngFor="let ingredient of ingredientList">
                  <input type="checkbox" id="{{ingredient.name}}" (click)="onChange(ingredient._id, $event.target.checked)">
                  <label for="{{ingredient.name}}">{{ingredient.name}}</label>
              </div>
              <!-- <div *ngFor="let ingredient of ingredientList"> -->
                <!-- <input type="checkbox" name="ingredient_ids" (change)="onChange(ingredient._id, $event.target.checked)">{{ingredient.name}} - {{ingredient.name}}<br> -->
                <!-- <input type="checkbox" formControlName="ingredient_ids" > {{ingredient.name}}<br> -->
              <!-- </div> -->
            </div>
            <div class="form-group">
              <label>Prix:</label>
              <input type="text" formControlName="price" class="col-lg-6">
            </div>
            <div class="form-group">
              <label>Ajouter une image :</label>
              <input type="file" id="filePicker" (change)="handleFileSelect($event)">
            </div>
            <div class="form-group">
              <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Valider</button>
            </div>
          </form>
        </section>
    </div>
</div>
