<h1>Liste des pizzas</h1>
<div class="row">
  <span>Prix max :</span>
  <input type="range" min="0" max="100" [(ngModel)]="sliderValueMax" />
  <span>{{sliderValueMax}} €</span>
</div>
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 offset-lg-2 offset-md-2">
        <div class="card" *ngFor="let pizza of pizzaList | PricePipe:sliderValueMax">
            <div class="card-header">
                {{pizza.name}} - {{pizza.price}} €
            </div>
            <div class="card-block">
                <div class="card-title">
                    {{pizza.desc}}
                </div>
                <div class="card-text">
                    <img src="{{pizza.picture}}" height="60%" width="60%"/>
                </div>
            </div>
            <div class="card-footer">
                <h4>{{pizza.price}} €</h4>
                <button class="btn btn-sm btn-link" routerLink="details/{{pizza._id}}/false">Voir</button>
                <button class="btn btn-sm btn-link" (click)="addToBucket(pizza)">Ajouter au panier</button>
            </div>
        </div>
    </div>
</div>
